/*
 * Style sheet to be used with pages
 * 02/18/2016: Current theme is BLACK! A black theme is more energy
 * efficient than an all white theme.
 */

body {
    background-color: black;
}

div, h2, h1 {
	color: #ddd;
}

input {
	color: black;
}
